@charset "UTF-8";

/* Colore di sfondo della barra di navigazione */


.navbar1 {
    background: #0D4EFA !important;
    text-decoration: none !important;
  }

.navbar-a {
    color: white !important;
    text-decoration: none !important;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-a:hover {
    background: #0ac6f577;
}


.navbar-li {
    background: #0B7CDE;
}

.linav {
    border-right: 1px solid white;
}

#nome {
    margin-left: -17px;
}

li:last-child {
    border-right: none;
}

.btn-campagna {
    background: #0BDED0;
}


 /* Colori e allineamento del testo */
.jumbotron-home {
    color: #868E96;
    background: #CBDFDF;
    text-align: center;
    margin-bottom: -20px;
}

.jumbotron-fluid {
    background: #336699;
    text-align: center;
    padding: 50px;
}

.jumbotron-fundraiser {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    text-align: justify;
  }

.footer-logo {
    color: white !important;
    font-size: 44px;
    text-decoration: none !important;
    font-family: "Nunito";
}


.footer-privacy { 
    color: white !important;
    font-family: "Nunito";
}

.card-center {
    text-align: center;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.titolo-card {
    font-family: "MS Serif, New York, sans-serif";
    color: #0D4EFA;
    text-align: center;
}

.border-none {
    border: 0;
}

.botton-success {
    background-color: #00c6f5;
}

.botton-success:hover {
    background-color: #0bded0;
}

#testochisiamo {
    text-align: justify;   
}

#titlechisiamo {
    margin-top: 20px;
}

#divp{
    border: 1px solid;
}

.testoOmbreggiato { /* Serve per fare il testo ombreggiato delle card nella home */
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.scrollTabellaGestioneUtentiAdmin { /* Serve per rendere "scrollable" la tabella di gestione degli utenti dell'admin */
    display:block;
    /* height: 500px; */
    /* height: auto; */
    /* min-height : 10px ; */
    max-height: 500px;
    overflow-y : scroll;
    min-width: 872px;
}


.scrollTabellaDonazioni { /* Serve per rendere "scrollable" la tabella delle donazioni */
    display:block;
    height: 500px;
    /* min-height : 10px ; */
    overflow-y : scroll; 
}


/* Gestione dropdown menu: */
.dropdown:hover>.dropdown-menu { /* dropdown menu hover */
    display: block;
  }

/* Menu a tendina della navbar */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/* fine menu a tendina della navbar */

.card-home {
    border: 4px inset #00c6f5 !important;
}

.card-3 {
    border: none;
}

.card-3:hover {
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.2); 
}

.ricercaUtente {
    padding: 0.75rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    margin-bottom: 1rem; 
}

.botton-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.botton-center-category {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
}


.nav {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.nav {
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.testoinfo {
    text-align: justify;
}

.jumbofundra{
    border: 4px inset #00c6f5;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
}


html,body{
    height:100%;
}

#container{
    position:relative; 
    width: 100%; 
    height: auto !important;
    height: 100%;
    min-height:100%;
}


#content{
    width: auto;
    margin: auto;
    padding: 0 0 100px 0
}

#footer{
    background: #0D4EFA; 
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
    text-align: center;
    
}
   


/* Stili footer */
#menufoot {
    list-style-type: none;
}

.footli {
    display: inline;
}

.afoot {
    color:white !important; /* Colore del testo */ 
    text-decoration:none !important; /* Nessuna decorazione */
    padding:4px 20px; /* Distanza tra le singole voci */
}


/* Bottoni utente per modificare le proprie campagne */
.bottomfundra{
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
}

/* Logo */
#logo {
    display: block; 
    margin-right: auto; 
    margin-left: auto;  
    margin-top: 40px;
}

/* Informazioni */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

/* Zoom che serve per zoomare il logo nella navbar */
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.52); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }