@charset "UTF-8";

/* Colore di sfondo della barra di navigazione */



.navbar1 {
    background: #0D4EFA !important;
    text-decoration: none !important;
    font-family: "Nunito";
    /* top:0; */ /* Aggiunto  */
   /*  position: fixed; */  /* Make it stick/fixed */
   /*  transition: top 0.3s; */  /* Transition effect when sliding down (and up) */
  }

.navbar-a { 
    color: white !important;
    text-decoration: none !important;
    font-family: "Nunito";

    /* Aggiunte: */
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-a:hover {
    background: #0ac6f577;
}


.navbar-li {
    background: #0B7CDE;
    font-family: "Nunito";
}

.linav {
    border-right: 1px solid white;
}

#nome {
    margin-left: -17px;
}

li:last-child {
    border-right: none;
}

.btn-campagna {
    background: #0BDED0;
}


 /* Colori e allineamento del testo */
.jumbotron-home {
    color: #868E96;
    background: #CBDFDF;
    text-align: center;
    margin-bottom: -20px;
}

.jumbotron-fluid {
    background: #336699;
    text-align: center;
    padding: 50px;
}

.jumbotron-fundraiser {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    text-align: justify;
  }

.footer-logo {
    color: white !important;
    font-size: 44px;
    text-decoration: none !important;
    font-family: "Nunito";
}

.footer-logo:hover {
    font-size: 48px;
}

.footer-privacy { 
    color: white !important;
    font-family: "Nunito";
}

.card-center {
    text-align: center;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.titolo-card {
    font-family: "MS Serif, New York, sans-serif";
    color: #0D4EFA;
    text-align: center;
}

.border-none {
    border: 0;
}

.botton-success {
    background-color: #54be90;
}



#cuore {
    margin: 20px;
    width: 100px;
    height: 100px;
}


#testochisiamo {
    text-align: justify;   
}

#titlechisiamo {
    margin-top: 20px;
}

#divp{
    border: 1px solid;
}

.testoOmbreggiato { /* Serve per fare il testo ombreggiato delle card nella home */
    color: white;
    text-shadow: 2px 2px 4px #000000;
}



